# Airflow
logs/
airflow.db
airflow.cfg
unittests.cfg
airflow-webserver.pid
standalone_admin_password.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
